<!--**********************************
            Footer start
***********************************-->
<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank"> VOE </a>2024</p>
        <p>Distributed by <a href="https://www.instagram.com/joubertgruna/" target="_blank">TECHUB</a></p>
    </div>
</div>
<!--**********************************
            Footer end
***********************************-->