<!--**********************************
            Sidebar start
        ***********************************-->
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menu</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/">Geral</a></li>
                </ul>
            </li>
            <li class="nav-label">Gerenciamento</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-world-2"></i><span class="nav-text">Vagas</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/vagas-todas">Todas</a></li>
                    <li><a href="/admin/vagas-nova">Nova</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-app-store"></i><span class="nav-text">candidatos</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/candidatos-todos">Todos</a></li>
                    <li><a href="/admin/candidatos-novo">Novo</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                        class="icon icon-chart-bar-33"></i><span class="nav-text">Blog</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/blog-posts">Postagens</a></li>
                    <li><a href="/admin/blog-novo">Novo</a></li>
                </ul>
            </li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="icon icon-form"></i><span
                        class="nav-text">Avaliações</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/avaliacoes-todas">Todas</a></li>
                    <li><a href="/admin/avaliacao-nova">Nova</a></li>
                </ul>
            </li>
            <li class="nav-label">Avançado</li>

            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="icon icon-plug"></i><span
                        class="nav-text">Perfil</span></a>
                <ul aria-expanded="false">
                    <li><a href="/admin/profile-manager">Gerenciar</a></li>

                </ul>
            </li>
        </ul>
    </div>


</div>
<!--**********************************
            Sidebar end
        ***********************************-->