<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="voe,empresa de RH,treinamento">
  
  <meta name="author" content="https://instagram.com/joubertgruna">

	<title>VOE | Sobre</title>

	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="../webSite/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Icon Font Css -->
	<link rel="stylesheet" href="../webSite/plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="../webSite/plugins/fontawesome/css/all.css">
	<link rel="stylesheet" href="../webSite/plugins/magnific-popup/dist/magnific-popup.css">
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="../webSite/plugins/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="../webSite/plugins/slick-carousel/slick/slick-theme.css">

	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="../webSite/css/style.css">

</head>

<body>

	<!-- Header Start -->

	<%- include('./partials/header')%>

		<!-- Header Close -->

		<div class="main-wrapper ">
			<section class="page-title bg-1">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="block text-center">
								<span class="text-white">Sobre Nós</span>
								<h1 class="text-capitalize mb-4 text-lg">Nossa Empresa</h1>
								<ul class="list-inline">
									<li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
									<li class="list-inline-item"><span class="text-white">/</span></li>
									<li class="list-inline-item"><a href="/sobre" class="text-white-50">Sobre Nós</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="about-info section pt-5">
				<div class="container">

					<div class="row justify-content-center">

						<div class="col-12 mb-5 text-center">
							<span class="h2">Nossos Objetivos</span>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-info-item mb-4 mb-lg-0">
								<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Encontrar os melhores
									talentos do mercado.</h3>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-info-item mb-4 mb-lg-0">
								<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Implantar um processo
									eficiente de atração e seleção.</h3>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-info-item mb-4 mb-lg-0">
								<h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Aumentar a
									produtividade dos processos seletivos.</h3>
								
							</div>
						</div>
					</div>
					<div class="row justify-content-center mt-5">

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-info-item mb-4 mb-lg-0">
								<h3 class="mb-3"><span class="text-color mr-2 text-md ">04.</span>Ampliar a
									assertividade na escolha dos candidatos.</h3>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-info-item mb-4 mb-lg-0">
								<h3 class="mb-3"><span class="text-color mr-2 text-md">05.</span>Diminuir o tempo do
									time de RH em atividades operacionais.</h3>
								
							</div>
						</div>

					</div>
				</div>
			</section>

			<!-- section Counter Start -->
			<section class="section counter bg-counter">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center mb-5 mb-lg-0">
								<i class="ti-check color-one text-md"></i>
								<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">173</span>
									+</h3>
								<p class="text-white-50">Projetos realizados</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center mb-5 mb-lg-0">
								<i class="ti-flag color-one text-md"></i>
								<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">125
									</span>+ </h3>
								<p class="text-white-50">Recrutamentos</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center mb-5 mb-lg-0">
								<i class="ti-layers color-one text-md"></i>
								<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">390</span>
								</h3>
								<p class="text-white-50">Avaliações</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="counter-item text-center">
								<i class="ti-medall color-one  text-md"></i>
								<h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">98 %</span>
								</h3>
								<p class="text-white-50">De Fidelização</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section Counter End  -->
			<!--  Section Services Start -->
			<section style="background-color: orange;" class="section team">
				<div  class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 text-center">
							<div class="section-title">
								<span class="h1 text-white">Quem faz a VOE</span>
								<h2 class="mt-3 content-title"></h2>
							</div>
						</div>
					</div>

					<div  class="row justify-content-center">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div  class="team-item-wrap mb-5">
								<div  class="team-item position-relative">
									<img src="../webSite/images/team/CarolSantos.jpeg" alt="" class="img-fluid w-100">
									
								</div>
								<div class="team-item-content">
									<h4 class="mt-3 mb-0 text-capitalize">Ana Carolina</h4>
									<p>Psicóloga organizacional, MBA em Gestão de Pessoas pela USP. Experiência há mais de 5 anos com Atração e Seleção, Desenvolvimento Humano e Organizacional.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="team-item-wrap mb-5">
								<div class="team-item position-relative">
									<img src="../webSite/images/team/Carol-fateixa.jpeg" alt="" class="img-fluid w-100">
									
								</div>
								<div class="team-item-content">
									<h4 class="mt-3 mb-0 text-capitalize">Carolina Fateixa</h4>
									<p>Empresária, psicóloga clínica e mestranda em Psicologia. Experiência com Avaliação Psicológica em Atração e Seleção.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="team-item-wrap mb-5 ">
								<div class="team-item position-relative">
									<img src="../webSite/images/team/greice.jpeg" alt="" class="img-fluid w-100">
									
								</div>
								<div class="team-item-content">
									<h4 class="mt-3 mb-0 text-capitalize">Greiciele Andrade</h4>
									<p>Psicóloga clínica, palestrante e especialista em Avaliação Psicológica com ênfase em Testes Psicométrico.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="team-item-wrap mb-5 mb-lg-0">
								<div class="team-item position-relative">
									<img src="../webSite/images/team/priscila.jpeg" alt="" class="img-fluid w-100">
									
								</div>
								<div class="team-item-content">
									<h4 class="mt-3 mb-0 text-capitalize">Priscilla Araújo</h4>
									<p> Psicóloga clínica e pós-graduada em Psicologia Organizacional e do Trabalho. Experiência em atuação prática em mineradoras como Vale e Grupo JMendes.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--  Section Services End -->
			<!-- Section Testimonial Start -->
			<section class="section testimonial bg-gray">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 text-center">
							<div class="section-title">
								<span class="h6 text-color">Depoimentos de clientes</span>
								<h2 class="mt-3 content-title">Confira o que nossos clientes dizem sobre nós.</h2>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="testimonial-wrap">
						<div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">O trabalho de Recrutamento e Seleção com a VOE consultoria nos proporcionou uma ótima percepção de pessoas, profissionais com olhar crítico para além do que é expressado no currículo. Entrevistas bem elaboradas e personalizadas. Equipe honesta com prazos e coma proposta da empresa.</p>

								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">Clínica MAB</h5>
									
								</div>
							</div>
						</div>
						<div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">Treinamento e Desenvolvimento com a VOE Consultoria: Equipe com profissionais capacitadas e atenciosas. Uso de termos de linguagem de fácil compreensão de todos. Analistas sempre dispostas a ouvir, minha equipe de colaboradores gostou muito do treinamento disponibilizado pela VOE Consultoria.</p>

								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">C&C Clínica de Diagnóstico por Imagem</h5>
									
								</div>
							</div>
						</div>
						<div class="testimonial-item position-relative">
							<i class="ti-quote-left text-color"></i>

							<div class="testimonial-item-content">
								<p class="testimonial-text">Palestras e Recrutamento e Seleção: O contato com a VOE Consultoria é objetivo e ágil. Consideramos a atenção e alegria de todas as profissionais como um grande diferencial. As palestras são sempre muito bem conduzidas.</p>

								<div class="testimonial-author">
									<h5 class="mb-0 text-capitalize">Cimento Tupi</h5>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- Section Testimonial End -->

			<!-- footer Start -->
			<%- include('./partials/footer')%>

		</div>


</body>

</html>