<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="voe,empresa de RH,treinamento">
  
  <meta name="author" content="https://instagram.com/joubertgruna">

  <title>VOE</title>

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="../webSite/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="../webSite/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="../webSite/plugins/fontawesome/css/all.css">
  <link rel="stylesheet" href="../webSite/plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="../webSite/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../webSite/plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="../webSite/css/style.css">

</head>

<body>

<!-- Header Start -->

<%- include('./partials/header')%>

<!-- Header Close -->

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <!-- <span class="text-white">Sobre</span> -->
          <h1 class="text-capitalize mb-4 text-lg">Atração e Seleção</h1>
          <!-- <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color"></span>
					<h2 class="mt-3 mb-4 position-relative content-title">Atração</h2>
					<p class="mb-5">Potencialize o sucesso da sua empresa com nossa solução de Atração e Seleção.
						Nossa equipe especializada combina expertise em recrutamento com as mais avançadas tecnologias para encontrar os talentos ideais para o seu time.
						Deixe-nos cuidar do processo de recrutamento, enquanto você se concentra em impulsionar o crescimento do seu negócio.
						Juntos, vamos construir uma equipe excepcional que levará sua empresa ao próximo nível.</p>

					<a href="#" class="btn btn-main btn-round-full">Fale com a gente</a>
				</div> 
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-item-img">
					<img src="../webSite/images/about/selecao.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
 
<section class="about-info section pt-0">
	<div class="container">
		<h5 class=" pb-2 mb-4 position-relative content-title">Quais as vantagens de contratar o serviço: </h5>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Atenção e atendimento personalizados.</h3>
					<!-- <p>Transformando clientes em verdadeiros parceiros. 
						Oferecemos uma abordagem individualizada para atender às necessidades exclusivas de cada cliente, garantindo uma experiência excepcional do início ao fim. 
						Conte conosco para superar suas expectativas e construir relacionamentos duradouros.</p> -->
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Alta abrangência de divulgação e banco de talentos.</h3>
					<!-- <p>Alcance seu público-alvo em larga escala e com precisão. Nossa extensa rede de divulgação e banco de dados robusto garantem que sua mensagem atinja as pessoas certas, no momento certo. 
					  Conte conosco para impulsionar sua visibilidade e alcançar resultados excepcionais.</p> -->
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Hunting de talentos no mercado de trabalho, tornando o processo mais ágil e assertivo.</h3>
					<!-- <p>Transformamos a busca por talentos em uma jornada ágil e precisa. Utilizando técnicas avançadas de recrutamento, encontramos os profissionais ideais para sua equipe, garantindo um processo eficiente e resultados assertivos.</p> -->
				</div>		
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">04.</span>Atuação em todo território brasileiro.</h3>
					<!-- <p>Esteja onde seus clientes estão com nossa cobertura nacional. 
						Com presença em todo o território brasileiro, garantimos que sua marca alcance todos os cantos do país, 
						ampliando sua visibilidade e oportunidades de negócio. 
						Conte conosco para expandir sua influência e conquistar novos mercados.</p> -->
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">05.</span>Triagem e entrevistas realizadas por especialistas.</h3>
					<!-- <p> Deixe o recrutamento nas mãos dos verdadeiros experts. Nossos especialistas em RH conduzem triagens e entrevistas minuciosas, garantindo que apenas os candidatos mais qualificados avancem no processo. 
						Conte conosco para construir uma equipe de alta performance com os melhores talentos selecionados criteriosamente.</p> -->
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">06.</span>Apresentação de candidatos conforme os requisitos solicitados.</h3>
					<!-- <p>Encontramos os talentos que sua empresa procura, sob medida. Compreendemos seus requisitos e apresentamos candidatos alinhados com suas necessidades específicas, garantindo eficiência e precisão no processo de seleção.
						Confie em nós para fornecer os profissionais certos para impulsionar o sucesso do seu negócio.</p> -->
				</div>		
			</div>
		</div>
		<div class="row justify-content-left">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">07.</span>Retorno para todos os candidatos.</h3>
					<!-- <p>Oferecemos feedback construtivo a todos os participantes do processo seletivo. Priorizamos a transparência e o respeito, garantindo que cada candidato receba orientações valiosas para seu desenvolvimento profissional, independentemente do resultado final.
						 Conte conosco para uma experiência de recrutamento humana e empática.</p> -->
				</div>		
			</div>
			
		</div>
	</div>
</section>

<!-- section Counter Start -->
<section sty class="section counter">
	<div class="container">

		<div class="row ">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">173</span> +
					</h3>
					<p class="text-muted">Projetos realizados</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>+
					</h3>
					<p class="text-muted">Recrutamentos </p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">390</span>+</h3>
					<p class="text-muted">Avaliações</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center">
					<h3 class="mb-0 text-white"><span class="counter-stat font-weight-bold">98</span>%</h3>
					<p class="text-muted">De fidelizção</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->
<!--  Section Services Start -->
<!-- <section class="section team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Team</span>
					<h2 class="mt-3 content-title">Expert Team member to get best service</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img src="images/team/team-1.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Justin hammer</h4>
						<p>Digital Marketer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img src="images/team/team-2.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Jason roy</h4>
						<p>UI/UX Designer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 ">
					<div class="team-item position-relative">
						<img src="images/team/team-3.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Henry oswald</h4>
						<p>Developer</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img src="images/team/team-4.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">David Williams</h4>
						<p>Senior Marketer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img src="images/team/team-6.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Peter Odin</h4>
						<p>App Developer</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0 ">
					<div class="team-item position-relative">
						<img src="images/team/team-5.jpg" alt="" class="img-fluid w-100">
						<div class="team-img-hover">
							<ul class="team-social list-inline">
								<li class="list-inline-item">
									<a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#" class="linkedin"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">David Spensor</h4>
						<p>Project Manager</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!--  Section Services End -->
<!-- Section Testimonial Start -->
<!-- <section class="section testimonial bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Clients testimonial</span>
					<h2 class="mt-3 content-title">Check what's our clients say about us</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="testimonial-wrap">
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">James Watson</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Section Testimonial End -->

        <!-- Section Pricing End -->


            <!-- footer Start -->
            <%- include('./partials/footer')%>

        </div>

        <!-- 
    Essential Scripts
    =====================================-->

        <%- include('./partials/scripts')%>


  </body>
  </html>