<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Empresa</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<!-- <li><a href="#">Termos e Condições</a></li> -->
						<li><a href="#">Politica de privacidade</a></li>
						<!-- <li><a href="#">Suporte</a></li> -->
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Links rápidos</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Equipe</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Inscrevasse</h4>
					<p>|Inscrevasse e receba nossas noticias</p>

					<form action="#" class="sub-form">
						<input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small">Enviar</a>
					</form>
				</div>
			</div> -->

			<div class="col-lg-4 ml-auto col-sm-6">
				<div class="widget">
					<div class="logo mb-4">
						<img src="../webSite/images/logoLaranja.png" alt="Logo" class="img-fluid" style="max-height: 75px;">
					</div>
					<h6><a href="tel:(31) 98942-3524">equipevoe1@gmail.com</a></h6>
					<a href="mailto: "><span class="text-color h4">(31) 98942-3524</span></a>
				</div>
			</div>
		</div>
		
		<div class="footer-btm pt-4">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="copyright">
						&copy; Direitos reservados a <span class="text-color">VOE.</span> by <a href="https://www.instagram.com/joubertgruna/">TecHub</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 text-left text-lg-left">
					<ul class="list-inline footer-socials">
						<!-- <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2"></i>Facebook</a></li> -->
						<li class="list-inline-item"><a href="https://www.instagram.com/voeconsultoria.rh/"><i class="ti-instagram mr-2"></i>Instagram</a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/voe-consultoria-5bba40270/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="ti-linkedin mr-2 "></i>Linkedin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>