<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-2 col-md-4">
					<div class="header-top-socials text-center text-lg-left text-md-left">
						<!-- <a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook"></i></a> -->
						<a href="https://www.instagram.com/voeconsultoria.rh/" target="_blank"><i class="ti-instagram"></i></a>
						<a href="https://www.linkedin.com/in/voe-consultoria-5bba40270/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="ti-linkedin"></i></a>
					</div>
				</div>
				<div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
					<div class="header-top-info">
						<!-- <a href="tel:(31)98942-3524">Contato: <span>(31) 98942-3524</span></a> -->
						<a href="mailto:support@gmail.com"><i
								class="fa fa-envelope mr-2"></i><span>equipevoe1@gmail.com</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg  py-4" id="navbar">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="../webSite/images/logoBranca.png" alt="Logo" class="img-fluid" style="max-height: 65px;">
			</a>

			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
				data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbarsExample09">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Serviços</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown05">
							<li><a class="dropdown-item" href="/srv-diagnostico">Diagnóstico de Clima</a></li>
							<li><a class="dropdown-item" href="/srv-atracao">Atração e Seleção</a></li>
							<!-- <li><a class="dropdown-item" href="/srv-gestao">Gestão de Estagiários</a></li> -->
							<li><a class="dropdown-item" href="/srv-treinamento">Treinamento e Desenvolvimento</a></li>
						</ul>
					</li>
					<li class="nav-item"><a class="nav-link" href="/projetos">Projetos</a></li>
					<li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/blog" id="dropdown05" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Blog</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown05">
							<li><a class="dropdown-item" href="">Blog Grid</a></li>
							<li><a class="dropdown-item" href="/blog-sidebar">Blog with Sidebar</a></li>

							<li><a class="dropdown-item" href="/blog-single">Blog Single</a></li>
						</ul>
					</li> -->
					<!-- <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li> -->
					<li class="nav-item"><a class="nav-link" href="/vagas">Vagas</a></li>
				</ul>

				<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
					<a href="/candidato" class="btn btn-solid-border btn-round-full">Cadastre seu Currículo</a>
				</form>
			</div>
		</div>
	</nav>
</header>