<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VOE - Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../dashBoard/images/favicon.png">
    <link href="../dashBoard/css/style.css" rel="stylesheet">

    <style>
        /* Centralizar o conteúdo na tela */
        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* Tela cheia */
        }

        .card {
            width: 100%;
            max-width: 500px; /* Limita o tamanho do formulário */
        }

        .btn-primary {
            width: 100%; /* Deixa o botão com 100% da largura */
        }
    </style>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid centered-form">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Registrar</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="POST" action="/admin/validar-candidato" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Digite o Email" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Responder avaliação</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">TecHub</a> 2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../dashBoard/vendor/global/global.min.js"></script>
    <script src="../dashBoard/js/quixnav-init.js"></script>
    <script src="../dashBoard/js/custom.min.js"></script>
    <script src="../dashBoard/vendor/highlightjs/highlight.pack.min.js"></script>
</body>

</html>
