<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../dashBoard/images/favicon.png">
    <link href="../dashBoard/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="logo mb-4 text-center">
                                        <img src="../webSite/images/logoLaranja.png" alt="Logo" class="img-fluid" style="max-height: 75px;">
                                    </div>
                                    <h4 class="text-center mb-4">Criar uma nova conta</h4>
                                    <form action="/admin/register" method="POST">
                                        <div class="form-group">
                                            <label><strong>Nome de usuário</strong></label>
                                            <input type="text" name="userName" class="form-control" placeholder="Nome de usuário">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Email</strong></label>
                                            <input type="email" name="email" class="form-control" placeholder="ola@exemplo.com">
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Senha</strong></label>
                                            <input type="text" name="senha" class="form-control">
                                        </div>
                                        <!-- <div class="form-group">
                                            <label><strong>Valide sua senha</strong></label>
                                            <input type="password" name="passwordValidate" class="form-control" value="passwordValidate">
                                        </div> -->
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3 text-center">
                                        <p>Já tem uma conta? <a class="text-primary" href="/admin/login">Entrar</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../dashBoard/vendor/global/global.min.js"></script>
    <script src="../dashBoard/js/quixnav-init.js"></script>
    <!--endRemoveIf(production)-->
</body>

</html>